<%-include("partials/header.ejs") %>
<div class="nextPrev"></div>
    <form action="/changePage" method="POST">
        <% if(pageNumber!==1) {%>
            <button name="action"  value="prev" type="submit">Prev</button>
            <% } else{ %>
                <% } %>
        <input id="pageNumber" name="pageNumber" type="number" value="<%=pageNumber  %>"><span>Page <%=pageNumber  %></span>
         <% if(pageNumber!==318) {%>
            <button name="action" value="next" type="submit">Next</button>
            <% } else{ %>
                <% } %>
    </form>
</div>
<div class="page">
<% if(locals.shows) {%>
<% shows.forEach(show => { %>
<div class="movie-card">
    <% if(show.image) {%>
    <img src="<%=show.image.medium  %>" alt="">
    <% } else {%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" width="210" height="295" alt="">
        <% } %>
    <h3><%=show.name %></h3>
</div>
<%}); %>
<% } else {%>
    <h3>error</h3>
    <% } %>
</div>
<%-include("partials/footer.ejs") %>